<%- include('partials/head',{page: ""}) %>

<h2 class="title is-2">Welcome to the Dashboard</h2>
<h3 class="subtitle is-3">Navigate using the menu</h3>

<%- include('partials/foot') %>

              
