<%- include('partials/head', {'title': "404 Error"}) %>
<style>
.div404 {
    text-align: center;
}
.my404 {
    font-size: 10em;
}
</style>
<div class="div404">
        <h1 class="title my404">404</h1>
        <h3 class="title is-2">You are lost!</h3>
</div>


    
<%- include('partials/foot') %>
