<aside class="menu">
        <p class="menu-label">
          Analytics
        </p>
        <ul class="menu-list">
          <li><a href="/admin/orders" class="<% if(page=='orders'){ %>is-active<% } %> ">Active Orders</a></li>
          <li><a href="/admin/sales" class="<% if(page=='sales'){ %>is-active<% } %> ">Sales</a></li>
        </ul>
        <p class="menu-label">
            Products
        </p>
        <ul class="menu-list">
        <li><a href="/admin/manage" class="<% if(page=='manage'){ %>is-active<% } %> ">Manage</a></li>
        <li><a href="/admin/new" class="<% if(page=='new'){ %>is-active<% } %> ">Add new</a></li>
        </ul>
</aside>